.container-fluid {
  align-items: center;
  margin-top: -100vh;
}

/* HEADER */
.header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  z-index: 5;
}


.busqueda {
  margin-left: 60rem;
  width: 20rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  padding: 10px;
  border: 2px solid #000000dd;
  border-radius: 10px;
  z-index: 5;
}
.search::placeholder {
  color: white;
}

button::before {
  content: '🚀';
  transform: rotate(60deg);
  z-index: 1;
}

button::after {
  content: '💨';
  z-index: 0;
  transform: scale(0) rotate(180deg);
}
.button-80 {
  background: #000000b2;
  backface-visibility: hidden;
  border-radius: .375rem;

  border-width: .125rem;
  box-sizing: border-box;
  color: #f1ebeb;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-color: #000000b2;
}

.button-80:not(:disabled):hover {
  transform: scale(1.05);
}

.button-80:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.button-80:focus {
  outline: 0 solid transparent;
}

.button-80:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.button-80:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button-80:focus:not(:focus-visible):before {
  border-width: 0;
}

.button-80:not(:disabled):active {
  transform: translateY(.125rem);
}


.busqueda input {
  flex: 1;
  font-size: 1rem;
  padding: 5px;
  background: transparent;
  border: none;
  outline: none;
  z-index: 5;
}

.busqueda i {
  padding: 5px;
  margin-left: 10px;
}

.busqueda #i-search {
  color: rgb(0, 0, 0);
}

.cart {
  margin-top: 1rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}
.cart i{
  color: black;
}
/* TABLA - LISTADO */
.main {
  margin: 2rem 12rem;
}

.informacion {
  display: flex;
  justify-content: space-between;
}

.main h1 {
  font-style: italic;
  color: rgba(255, 255, 255, 0.86)
}

.main table button {
  border: none;
  background: transparent;
}

.main table button#edit:hover {
  color: #52be80;
}

.main table button#trash:hover {
  color: #b03a2e;
}

/* MEDIA */
@media screen and (max-width: 1920px) {
  .busqueda {
    margin-left: 50rem;
  }
}

@media screen and (max-width: 425px) {
  .container-fluid {
    margin-top: -100vh;
    padding: 20px;
  }

  .header {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 60px 0;
  }

  .busqueda {
    width: 15rem;
    margin-top: -2rem;
    margin-left: 5rem;
  }

  .busqueda input {
    width: 100%;
    font-size: 1rem;
  }

  .busqueda i {
    padding: 0;
    margin-left: 0;
  }

  .cart {
    margin-top: -10rem;
    margin-right: 0;
    display: flex;
    padding: 10px;
  }

  .main {
    margin: 2rem 0;
  }

  .main h1 {
    margin-top: 0.8rem;
    font-size: 1.2rem;
  }

  .main table {
    font-size: 0.8rem;
  }
}
